@tailwind base;
@tailwind components;
@tailwind utilities;

// add the code bellow
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none !important;
        scrollbar-width: thin;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none !important;  /* IE and Edge */
        scrollbar-width: none !important;  /* Firefox */
        scrollbar-width: thin;
  }
}